* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
video {
  align-items: center;
  margin-bottom: 250px;
}
.overflow {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 75px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 50px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: 0.4s;
  border-radius: 34px; /* Rounded edges */
}

/* Circle inside the switch */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Makes it a circle */
}

/* When the checkbox is checked */
input:checked + .slider {
  background-color: #4caf50;
}

/* Moves the circle when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}

.mask1 {
  -webkit-mask-image: url(../images/images.png);
  mask-image: url(../images/images.png);

}
